<!DOCTYPE hibernate-configuration PUBLIC 
			"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
			"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:mem:desafioconcrete</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
   
		<property name="hibernate.hbm2ddl.auto">create</property>

		<mapping class="com.desafioconcrete.model.Telefone" />
		<mapping class="com.desafioconcrete.model.Usuario" />
	</session-factory>
</hibernate-configuration>